/*general components style*/
body{
    background-color: rgb(240, 240, 240)!important;
    height: 100%;
}
.window{
    background: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .15);
    padding: 8px 20px;
    margin: 8px;
}
.window.radius{
    border-radius: 10px;
}
.window.fullwidth{
    width: 100%;
}
.window.table{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.window.midFull{
    width: 50%;
    margin: auto;
}
.leftAlign{
    text-align: left;
}
a.submit svg{
    color: #fff!important;
    margin-left: 7px;
}
a.submit{
    margin: auto;
    background-color: #d36d22;
    border:0px solid white;
    outline: none;
    color: #fff;
    padding: .375rem .75rem;
    border-radius: 5px;
    transition: .3s all;
    font-weight: 400;
    font-size: 16px;
}
a.submit:hover{
    background-color: #b85e1f;
    text-decoration: none;
    color: #fff;
}
button.submit{
    margin: auto;
    background-color: #d36d22;
    border:0px solid white;
    outline: none;
    color: white;
    padding: 10px 30px;
    font-weight: 500;
}
button.submit:hover{
    background-color: #b85e1f;
}
button.submit:active, button.submit:focus{
    outline: none;
    border: none!important;
    background-color: #b85e1f!important;
    box-shadow: none!important;
}
button.cancel{
    background-color: #fff;
    color: #ff6666;
    border: 1px solid #ff6666;
}
button.cancel:hover{
    background-color: #b85e1f;
    color: #fff;
    border: 1px solid #e75757;
}
button.cancel:active, button.cancel:focus{
    outline: none!important;
    border: 1px solid #ff6666;
    background-color: #b85e1f!important;
    box-shadow: none!important;
}
button.cancel:visited{
    outline: none!important;;
    border: none!important;
    background-color: #b85e1f!important;
}
.popup_background{
    background-color: rgb(0, 0, 0,.5);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_background.hidden{
    display: none;
}

.spinner-border{
    width:4em!important;
    border:0.25em solid #b85e1f!important;
    border-left-color: transparent!important;
    border-right-color: transparent!important;
    width:3em!important;
    height:3em!important;
}

/*own scroll*/
.customScroll::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  .customScroll::-webkit-scrollbar-track {
    background: #fff;
  }
  
  /* Handle */
  .customScroll::-webkit-scrollbar-thumb {
    background: #989898;
    border-radius: 5px;
    
  }
  
  /* Handle on hover */
  .customScroll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/*checkboxes style*/
  .containerInput{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default checkbox */
  .containerInput input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .containerInput:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containerInput input:checked ~ .checkmark {
    background-color: #b85e1f;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containerInput input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containerInput .checkmark:after {
    left: 9px;
    top: 4px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
/*header*/
header{
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 0px 1px #a9a9a9;
}
header a > svg{
    margin-top: 12px;
}
header+div{
    padding-top: 60px;
}
header img.logo{
    width: 150px;
}
header .navbar {
    padding: 0px;
}
header .navbar-brand a:hover{
    text-decoration: none;
}
header .navbar-nav a{
    color: #303030!important;
    margin-right: 15px;
}
/*SANDRY CSS**/
.App {
    text-align: center;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
/* Register Form */
.registerUserForm h5{
    font-weight: 100;
    color: #808080;
    text-align: left;
    margin-top: 10px;
}

.register_container .window{
    margin-left: auto;
    margin-top: 40px!important;
}

.registerUserForm label,.login_container label{
    text-align: left;
    display: block;
}
/* Login Form */
.login_form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 500px;
    z-index: 100;
}
.login_form .submit{
    width: 140px;
}
.login_form label.checkbox{
    text-align: center;
    display: inline-block;
}
.login_form .form-check{
    display: inline-block!important;
}
.login_background{
    position: absolute;
    left: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 100%;
    top: 0px;
    z-index: 0;
}
form input.invalid{
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    /*background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e);*/
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
/*index*/



/* Projections */
.projections{
    margin-top: 30px;
}
.projections table{
    border-radius: 8px;
    background-color: white;
    width: 80%;
}
.projections th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #d36d22;
    color: #fff;
}
.projections td{
    border: 1px solid rgb(187, 187, 187);
    padding: 8px;
}

.projections tr:nth-child(even){background-color: #e9e9e9;}

.projections tr:hover {background-color: #ddd;}

.projections .center {
    margin:auto;
}
.projections .row{
    margin-top: 15px;
    margin-bottom: 10px;
}
/* Projection select */
.projections select{
    padding:8px 15px;
    border: 1px solid #b6b6b6;
    width: 200px;
}
.projections select:focus{
    outline: none;
}
.projections option:focus{
    outline: none;
}
/* index - movies */
/* Movie Slider */
.movieSlider{
    background-color: #222222;
    height: 100%;
}
.movieSlider h4{
    color: white;
    text-align: left;
    padding-top: 30px;
    text-transform: uppercase;
}
.movies{
    height: 370px;
}
.movies ul.cfMAPe li{
    background-color: #fff;
}
/* Movie Banner */
.movieBanner{
    display: flex;
    flex-flow: row;
    height: 100%;
    flex-wrap: wrap;
    order: 2;
    margin-top: 25px;
}
.movieBanner > div {
    flex: 50%;
}
.movieBanner .movieInfo{
    color: white;
    text-align: left;
    padding-left: 25px;
}
.movieBanner .movieInfo h5{
    font-weight: 700;
    font-size: 25px;
}
.movieBanner .movieInfo p.desc{
    height: 120px;
    text-overflow: clip;
    overflow: hidden;
}
.movieBanner span{
    color: #b9b9b9;
    font-size: 15px;
}
.movieBanner a{
    float: right;
    margin-top: -20px;
    background-color: #e2c440;
    padding: 8px 10px;
    color: #fff;
    border-radius: 3px;
}
/* Reservation Form */
.reservationForm .window{
    margin: 35px auto;
    padding: 10px 40px;
}
.reservationForm form .row >*{
    text-align: left;
}
.reservationForm form .col ~ .col{
    text-align: center;
}
.reservationForm .row{
    margin: 15px 0px;
}
.reservationForm .row .col:first-child h6{
    margin-left: 10px;
}
.reservationForm .row:last-of-type > *{
    text-align: center;
}
.reservationForm .validError, .createProjection .validError{
    color: #dc3545;
    font-weight: 500;
    display: block;
}
.createProjection .validError{
    display: none;
}
.createProjection .validError.visible{
    display: block;
}
/* USER PROFILE*/
.userProfile .userInfo  ul{
    list-style: none;
    padding-left: 0px;
}
.userProfile .userInfo  ul li{
    width: 100%;
    padding: 10px;
}
.userProfile .userInfo  ul li:first-of-type{
    font-size: 25px;
    font-weight: 500;
}
.userProfile .userInfo  ul li:not(:last-of-type){
    border-bottom: 1px solid #b3b3b3;
}
.userInfo .userIcon{
    width: 60%;
    margin: auto;
}
.userInfo .userIcon img{
    width: 100%;
}
table.reservation{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table.reservation tr:nth-child(even){
    background-color: #f2f2f2;
}
table.reservation tr:nth-child(even){
    background-color: #f2f2f2;
}
table.reservation tbody tr:hover {background-color: #ddd;}
table.reservation td, table.reservation th {
    border: 1px solid #ddd;
    padding: 8px;
}
.window.table > strong{
    text-transform: uppercase;
}
.window.notFound img{
    width: 160px;
}
.window.employeeReservation table a{
    margin: 0px 10px; 
}